<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Best FREE AI API" />
        <title>API key · Caportabow API</title>

        <link href="{{ url_for('static', filename='scripts/bootstrap/css/css@3.css') }}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

        <link href="{{ url_for('static', filename='scripts/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

        <!-- Favicons -->
        <link rel="icon" href="{{ url_for('static', filename='icons/favicon-32.ico') }}" sizes="32x32" type="image/x-icon" />
        <link rel="icon" href="{{ url_for('static', filename='icons/favicon-16.ico') }}" sizes="16x16" type="image/x-icon" />
        <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon-32.ico') }}" type="image/x-icon" />
        <meta name="theme-color" content="#712cf9" />
        <style>
            .form-check {
                padding-left: 0em;
            }
        </style>
        <link href="{{ url_for('static', filename='scripts/bootstrap/css/cover.css') }}" rel="stylesheet" />
    </head>
    <body class="d-flex h-100 text-center text-bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">Caportabow API</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
                        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/getkey">Get API key</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/contact">Contact</a>
                    </nav>
                </div>
            </header>

            <main class="px-3">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input ml-42" id="agreeCheckbox" />
                    <label class="form-check-label" for="agreeCheckbox">
                        By using this service I confirm that I will use this API only for educational purposes on fair use rights, after which I will redesign my project to use the official OpenAI API.
                    </label>
                </div>
                <button class="btn btn-primary ml-42" id="generateKeyBtn" onclick="generateAPIKey()" disabled>Get Key</button>
                <div class="mt-3" id="apiKeyResult"></div>
            </main>

            <footer class="mt-auto text-white-50"></footer>
        </div>
        <script src="{{ url_for('static', filename='scripts/core/getKey/generateKey.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/core/getKey/checkboxListener.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/bootstrap/js/bootstrap.bundle.min.js') }}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
